body {
  
      height: 100%;
      margin: 0;
      background-color:#ffffff;
      color:#450101;
}	
	  table, th, td {
		border: 1.5px solid rgb(0, 0, 0);
		border-collapse: collapse;
		table-layout: fixed;
	}
	table thead tr {
		position: -webkit-sticky;
		position: sticky;
	}
	table thead {
		width: 7500px;
	}
	table tbody{
		display: block;
		height:400px;
		width: 7500px;
		overflow:auto;
	  }
	  .wrapper {
		position: relative;
		overflow: auto;
		border: 1px solid black;
		white-space: nowrap;
	  }
	  span {
		word-wrap: break-word;
	  }
	th {
		background-color: #18e109;

	}
	.center {
		text-align: center;
	}
	.right{
		text-align: right;
	}
	.greenClass {
		background-color: rgb(176, 235, 172);
	}
	.sticky-col {
		position: -webkit-sticky;
		position: sticky;
	}
	.view {

		width: 1450px;
		margin-left: 0;
	}
	 
	tr > *:is(:nth-child(38), :nth-child(39),:nth-child(40), :nth-child(41), :nth-child(43), :nth-child(44), :nth-child(45)) {
		display: none;
	}
