body {
    font-family: Arial;
    padding: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: max-content;
}

thead tr:first-child th {
   border-top:1px solid #000;
}

.table-wrapper {
    overflow: auto;
    max-height: 80vh;
    border: 1px solid #080808;
}

th, td {
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    padding: 6px;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
}

th {
    background: #f2f2f2;
}

.tr-holiday > td {
   background: hwb(73 1% 2% / 0.499) !important;
}
/* chiều rộng cột */
.w70 {
    width: 70px;
}

.w120 {
    width: 120px;
}

/* ===== Freeze 3 cột đầu ===== */
.freeze {
    position: sticky;
    background: #fff;
    z-index: 4;
    box-shadow: 2px 0 0 #000;
}

.col-holiday {
    left: 0;
    border-left:1px solid #000;
}

.col-thu {
    left: 70px;
}

.col-ngay {
    left: 140px;
}

thead tr:nth-child(1) th{
    position: sticky;
    top: 0;
    z-index: 6;
}

thead tr:nth-child(2) th{
    position: sticky;
    top: 32;
    z-index: 5;
}

.fix_cell {
    position: sticky;
    z-index:20 !important;
    background:#eee;
    box-shadow: 2px 0 0 #000 !important;
}

.emp-0 {
    z-index: 1;
    background: #fff7e6;
}

.emp-1 {
    z-index: 1;
    background: #e6f7ff;
}

.emp-2 {
    z-index: 1;
    background: #f6ffed;
}

.emp-3 {
    z-index: 1;
    background: #fff0f6;
}

.emp-4 {
    z-index: 1;
    background: #fffbe6;
}

.emp-5 {
    z-index: 1;
    background: #f9f0ff;
}

.emp-6 {
    z-index: 1;
    background: #e6fffb;
}

.emp-7 {
    z-index: 1;
    background: #f0f5ff;
}

.emp-8 {
    z-index: 1;
    background: #fff1f0;
}

.emp-9 {
    z-index: 1;
    background: #f0fff4;
}

/* hover */
tbody tr:hover td {
    background: #557deb;
    filter: brightness(2);
}

#select_NV {
    padding-right: 50px;
}