body {
  
      height: 100%;
      margin: 0;
      background-color:#ffffff;
      color:#450101;
}	
	  table, th, td {
		border: 1.5px solid rgb(0, 0, 0);
		border-collapse: collapse;
		table-layout: fixed;
	}
	th {
		background-color: rgb(24, 225, 9);

	}
	.wrapper {
		position: relative;
		overflow: auto;
		border: 1px solid black;
		white-space: nowrap;
	  }
	
	.center {
		text-align: center;
	}
	.right{
		text-align: right;
	}
	.greenClass {
		background-color: rgb(176, 235, 172);
	}
	.sticky-col {
		position: -webkit-sticky;
		position: sticky;
	}
	.view {
		margin: auto;
		width: 1200px;
		margin-left: 0;
	}
	.wrapper table td:first-child {
		left: 0;
	}
	.wrapper table th:is(:first-child, :nth-child(1),:nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5)) {
		left: 0;
	}
	.wrapper table th::nth-child(1){
		left: 10;
	}
	.wrapper table th::nth-child(2){
		left: 20;
	}
	.wrapper table th::nth-child(3){
		left: 30;
	}
	.wrapper table th::nth-child(4){
		left: 40;
	}
	.wrapper table th::nth-child(5){
		left: 50;
	}
	tr > *:nth-child(38) {
		display: none;
	}
	tr > *:nth-child(39) {
		display: none;
	}
	tr > *:nth-child(40) {
		display: none;
	}
	tr > *:nth-child(41) {
		display: none;
	}
	tr > *:nth-child(43) {
		display: none;
	}
	tr > *:nth-child(44) {
		display: none;
	}
	tr > *:nth-child(45) {
		display: none;
	}

