body{
    font-family: Arial;
    padding:20px;
}
table{
    border-collapse: collapse;
    table-layout: fixed;
}
.table-wrapper{
    overflow:auto;
    max-height:80vh;
    border:1px solid #080808;
}

th, td{
    border:1px solid #000;
    padding:6px;
    text-align:center;
    white-space:nowrap;
}

th{
    background:#f2f2f2;
}

/* ===== Freeze 3 cột đầu ===== */
.freeze{
    position: sticky;
    background:#fff;
    z-index:5;
    box-shadow: 2px 0 0 #ddd;
}

.col-holiday{ left:0; width:70px; }
.col-thu{ left:70px; width:70px; }
.col-ngay{ left:140px; width:70px; }

thead th{
    position: sticky;
    top:0;
    z-index:3;
    background:#eee;
}

.emp-0  { z-index: 1; background:#fff7e6; }
.emp-1  { z-index: 1;background:#e6f7ff; }
.emp-2  {z-index: 1; background:#f6ffed; }
.emp-3  { z-index: 1;background:#fff0f6; }
.emp-4  { z-index: 1;background:#fffbe6; }
.emp-5  { z-index: 1;background:#f9f0ff; }
.emp-6  { z-index: 1;background:#e6fffb; }
.emp-7  { z-index: 1;background:#f0f5ff; }
.emp-8  { z-index: 1;background:#fff1f0; }
.emp-9  { z-index: 1;background:#f0fff4; }

/* hover */
tbody tr:hover td{
    background:#557deb; 
    filter: brightness(2);
}